<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="blocks/header :: header-css"/>
</head>
<body>
<header th:replace="blocks/header.html :: header"></header>
    <div class="modal">
        <h1>авторизация</h1>

        <form th:action="@{/login}" method="post">

            <div class="input__style">
                <div th:if="${param.error}">Неверный логин или пароль</div>
                <input type="text" name="username" placeholder="логин">
            </div>
            <div class="input__style">
                <input type="password" name="password" placeholder="пароль">
            </div>
            <div class="input__style">
                <input type="submit" value="войти">
            </div>
        </form>
        <div class="d">
            <p>Нет аккаунта?</p>
            <a th:href="@{/registration}">Зарегистрироваться</a>
        </div>
    </div>
<footer th:replace="blocks/footer.html :: footer"/>
</body>
</html>