<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="blocks/header :: header-css"/>
</head>
<body>
    <header th:replace="blocks/header.html :: header "></header>
    <div sec:authorize ="hasAuthority('ADMIN')" class="main_link">
        <h1><a th:href="@{/user}">Список пользователей</a></h1>
        <h1><a th:href="@{/product/add}">Добавить продукт</a></h1>
    </div>
    <footer th:replace="blocks/footer.html :: footer"/>
</body>
</html>