<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="blocks/header.html :: header-css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
</head>
<body>
<header th:replace="blocks/header.html :: header "></header>


<div class="container">
    <h1 class="big_heading">Оформление заказа</h1>
    <form th:action="@{/order}" method="post">
        <div class="input_phone_number">
            <div class="input__field">
                <input type="tel" class="phone" name="phone" placeholder="Введите свой номер телефона" >

            </div>
            <p class ="text__input_phone_number">Введите номер телефона в формате +375XX XX-XX-XXX</p>
        </div>

        <div class="payment__delivery">
            <div class = "boxx">
                <h1 class="big_heading">Оплата</h1>
                <p class="text__delivery_payment">Выберите способ оплаты при получении товара</p>
                <input type="radio" name="payment" value="cash"><label class="text__with_options">Наличные</label><Br>
                <input type="radio" name="payment" value="card"><label class="text__with_options">Карта </label>
            </div>
            <div class = "boxx">
                <h1 class="big_heading">Доставка</h1>
                <p class="text__delivery_payment">Выберите способ доставки</p>
                <input type="radio" name="delivery" value="cash" id="1" onclick='Go()'><label class="text__with_options">Самовывоз</label><Br>
                <div class = "information__box" id="block-1">
                    <p class="text__delivery_payment">Вы можете забрать заказ по адресу:</p>
                    <p class="delivery_text">Бобруйск, ул. Комсомольская, 41 </p>
                    <p class="text__delivery_payment">Время работы: </p>
                    <p class="delivery_text">Пн. - Пят. с 10 до 19 часов<Br>Сб. - Вск. с 10 до 17 часов</p>
                </div>

                <input type="radio" name="delivery" value="card" id="2" onclick='Go()'><label class="text__with_options">Доставка</label><Br>
                <div class = "information__box" id="block-2">
                    <p class="text__delivery_payment">Введите адрес для доставки</p>
                    <p class="blue__text">* Доставка  производится только в пределах г. Минск</p>
                    <div class="input_delivery_data">
                        <div class="input__field">
                            <input type="text" name="phone" placeholder="улица *">
                        </div>
                        <div class="input__field">
                            <input type="text" name="phone" placeholder="дом *">
                        </div>
                        <div class="input__field">
                            <input type="text" name="phone" placeholder="корпус">
                        </div>
                        <div class="input__field">
                            <input type="text" name="phone" placeholder="квартира">
                        </div>
                        <div class="input__field">
                            <input type="text" name="phone" placeholder="домофон">
                        </div>

                    </div>
                    <p class="blue__text">* поля являются обязательными для заполнения</p>
                </div>
                <div class="input__style_order">
                    <input type="submit" value="Оформить заказ">
                </div>
            </div>
        </div>
    </form>
</div>

<footer th:replace="blocks/footer.html :: footer"/>
<script src="/css/js/main.js"></script>
</body>
</html>