<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="blocks/header :: header-css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="menu"></div>
<div class="container">
    <div sec:authorize ="hasAuthority('ADMIN')" class="main_link">
        <a class="main_link__slyle" th:href="@{/user}">Список пользователей</a>
        <a class="main_link__slyle" th:href="@{/product/add}">Добавить продукт</a>
        <a class="main_link__slyle" th:href="@{/orders}">Посмотреть заказы</a>
    </div>
    <h1>Каталог товаров</h1>
    <div class="product" >
        <div class="product_container" th:each="product : ${products}">
            <div class = "box">
                <h1 th:text="${product.name}"></h1>
                <div th:if="${product.filename} != null" class="img_box">
                    <img  alt="picture" th:src="@{/css/images/{img}(img=${product.filename})}" height="300px">
                </div>
                <h2 th:text="${product.price}"></h2>
                <p th:text="${product.description}"></p>
                <a th:href = "'/product/' + ${product.id}" class="saw">Посмотреть</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer.html :: footer"/>
</body>
</html>