<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/header :: header-css"/>
</head>
<body>
<header th:replace="blocks/header :: header"></header>
<h1>Добавление товара</h1>
<div class="container">
    <div class="addProduct">
        <h1>Редактирование товара</h1>
        <div class="box" th:each ="product : ${products}">
            <form  method="post" th:action="'/product/' + ${product.id} + '/edit'" enctype="multipart/form-data">
                <div class="input_add_style">
                    <input type="text" th:value="${product.name}" name="name" placeholder="введите название">
                </div>
                <div class="input_add_style">
                    <input type="number" th:value="${product.price}" name="price" placeholder="цена">
                </div>
                <div class="input_add_style">
                    <input type="text" th:value="${product.description}" name="description" placeholder="описание товара">
                </div>
                <div class="input_add_style">
                    <input type="file" name="file" th:value="${product.filename}">
                </div>
                <button class="button_update" type="submit" >Обновить</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer.html :: footer"/>
</body>
</html>