<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="blocks/header :: header-css"/>
</head>
<body>
<header th:replace="blocks/header :: header"></header>
<div class="modal2">
    <h1>регистрация</h1>
    <form th:action="@{/registration}" method="post" >
        <div class="input__class">
            <div class="input2__style">
                <div th:text="${message}"></div>
                <input type="text" name="username" placeholder="имя" >
                <div th:text="${errorLogin}"></div>
            </div>

            <div class="input2__style">
                <input type="password" name="password" placeholder="пароль">
                <div th:text="${errorPassword}"></div>
            </div>
            <div class="input2__style">
                <input type="password" name="confirmPassword" placeholder="повторите пароль">
                <div th:text="${errorConfirmPassword}"></div>
            </div>

        </div>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            я согласен на обработку персональных данныx
        </label>
        <div class="input2__style">
            <input type="submit" value="регистрация">
        </div>
    </form>
</div>
<footer th:replace="blocks/footer.html :: footer"/>
</body>
</html>