<html xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/Fonts/stylesheet.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/images/font-awesome-4.7.0/css/font-awesome.min.css">
        <title>ТЕХНОСИЛА</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </div>
</head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a th:href="@{/}">
                        <img src="/css/images/logo.png" alt="">
                    </a>
                </div>

                <div class="search__box">
                    <input type="text" class="search__txt" placeholder="Поиск">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>

                <nav class="nav" id="myTopnav">
                    <a class="num" href="tel:80225750096">8 (0225) 75 00 96</a>
                    <a class="nav__link" th:href="@{/product}">Каталог</a>
                    <a class="nav__link" href="#">Корзина</a>
                    <div sec:authorize ="!isAuthenticated()">
                        <a class="nav__link" th:href="@{/main}" th:text="Войти"></a>
                    </div>
                    <div sec:authorize ="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="выйти">
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>
</body>
</html>